<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 600px;margin: auto;padding: 0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333">
<!-- gold bar -->
<table cellspacing="0" cellpadding="0" width="600px"
       style="border-bottom-style: solid;border-bottom-color: #F0AB00;border-bottom-width: 8px;padding-top: 13px;padding-bottom: 12px">
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Estimado <b>${company_name}</b>,
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Se le comunica que se le ha habilitado como proveedor en nuestra app de Control de Proveedores. Favor dar clic en el siguiente enlace para conectar. .
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                <a href="${url_btp}">${url_btp}</a>
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Gracias
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Administrador de Procesos
            </p>
        </td>
    </tr>
</table>
</body>
</html>

