<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 600px;margin: auto;padding: 0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333">
<!-- gold bar -->
<table cellspacing="0" cellpadding="0" width="600px"
       style="border-bottom-style: solid;border-bottom-color: #F0AB00;border-bottom-width: 8px;padding-top: 13px;padding-bottom: 12px">

</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Estimado Usuario,
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Se le comunica que ha habido modificaciones cargadas por parte del proveedor, en nuestra app de Control de Proveedores.
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                <b>Sedes permitidas:</b> ${allowed_sites}<br/>
                <b>Status SSO:</b> ${status_sso}  <br/>
                <b>N° Docs adjuntos SSO:</b> ${sso_docs_count}<br/>
                <b>Alto riesgo?:</b> ${high_risk}  <br/>
                <b>N° Docs adjuntos Alto riesgo:</b> ${high_risk_docs_count}<br/>
                <b>A bordo?:</b> ${onboard}  <br/>
                <b>Tiene Vigencia SSO?:</b> ${has_vigencia_sso}  <br/>
                <b>Fecha Vigencia SSO?:</b> ${date_vigencia_sso}  <br/>
                <b>Tiene Vigencia Calidad Ambiental?</b> ${has_vigencia_ca}  <br/>
                <b>Fecha Vigencia Calidad Ambiental?</b> ${date_vigencia_ca}  <br/>
                <b>N° Docs adjuntos a bordo:</b> ${onboard_docs_count}<br/>
                <b>Status Calidad Ambiental:</b> ${status_environmental_quality}  <br/>
                <b>N° Docs adjuntos C.Amb:</b> ${environmental_docs_count}
            </p>

            #if($workers && $workers.size() > 0)
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                <b>Lista de Trabajadores</b>
            </p>
            <table width="100%" cellspacing="0" cellpadding="0"
                   style="width:600px;border-collapse:collapse;border:1px solid #ddd;table-layout:fixed;">
                <colgroup>
                    <col width="80" />   <!-- DNI -->
                    <col width="160" />  <!-- Nombre Completo -->
                    <col width="90" />   <!-- Status SSO -->
                    <col width="95" />   <!-- Motivo SSO -->
                    <col width="55" />   <!-- N° docs -->
                    <col width="70" />   <!-- Alto Riesgo -->
                    <col width="65" />   <!-- N° Docs AR -->
                    <col width="65" />   <!-- Prevenc -->
                    <col width="65" />   <!-- N° Docs Prevenc -->
                </colgroup>

                <tr style="background-color:#f0ab00;color:white;">
                    <th width="80"  style="border:1px solid #ddd;padding:12px 6px;text-align:center;vertical-align:middle;line-height:16px;font-size:13px;">DNI</th>
                    <th width="160" style="border:1px solid #ddd;padding:12px 6px;text-align:center;vertical-align:middle;line-height:16px;font-size:13px;">Nombre Completo</th>
                    <th width="90"  style="border:1px solid #ddd;padding:12px 6px;text-align:center;vertical-align:middle;line-height:16px;font-size:13px;">Status SSO</th>
                    <th width="95"  style="border:1px solid #ddd;padding:12px 6px;text-align:center;vertical-align:middle;line-height:16px;font-size:13px;">Motivo SSO</th>

                    <!-- ÚLTIMAS CABECERAS CON ANCHO FIJO -->
                    <th width="55" style="border:1px solid #ddd;padding:12px 4px;text-align:center;vertical-align:middle;font-size:13px;">
                        <div>N°</div>
                        <div>docs</div>
                    </th>

                    <th width="85"
                        style="border:1px solid #ddd;
                        padding:14px 12px;
                        text-align:center;
                        vertical-align:middle;
                        font-size:13px;
                        white-space:nowrap;">
                        Alto Riesgo
                    </th>

                    <th width="55" style="border:1px solid #ddd;padding:12px 4px;text-align:center;vertical-align:middle;font-size:13px;">
                        <div>N° docs</div>
                        <div>AR</div>
                    </th>

                    <th width="55" style="border:1px solid #ddd;padding:12px 4px;text-align:center;vertical-align:middle;line-height:16px;font-size:13px;">
                        Prevenc
                    </th>

                    <th width="50" style="border:1px solid #ddd;padding:12px 4px;text-align:center;vertical-align:middle;font-size:13px;">
                        <div>N° docs</div>
                        <div>Prevenc</div>
                    </th>
                </tr>

                #foreach($worker in $workers)
                <tr>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.dni}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:left;vertical-align:middle;overflow:hidden;word-break:break-word;">${worker.fullName}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.statusSso}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:left;vertical-align:middle;overflow:hidden;word-break:break-word;">${worker.reasonSso}</td>

                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.docsCount}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.highRisk}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.highRiskDocsCount}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.preventionist}</td>
                    <td style="border:1px solid #ddd;padding:6px;text-align:center;vertical-align:middle;">${worker.preventionistDocsCount}</td>
                </tr>
                #end
            </table>

            #end

            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Deberá revisar los datos accediendo en la url <a href="${url_btp}">${url_btp}</a>
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Atentamente,<br/>
                Administrador de Procesos
            </p>
        </td>
    </tr>
</table>
</body>
</html>

